*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* VARIÁVEIS */
:root {
  --title-font: DM Sans, sans-serif;
  --subtitle-font: Inter, sans-serif;

  --dark-10: #303030;
  --dark-20: #2b2b2b;
  --dark-30: #1f1f1f;
  --dark-40: #151515;
  --dark-50: #111111;
}
/* FIM VARIÁVEIS */

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35rem;
  padding: 1rem 0rem;
  background: var(--dark-50);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__perfil {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__perfil__imagem {
  width: 3rem;
  border-radius: 50%;
}

.header__perfil__nome {
  font: 700 1.2rem DM Sans, sans-serif;
  color: #ffffff;
}

.header__links {
  display: flex;
  gap: 2.5rem;
}

.header__links__link {
  font: 600 1rem Inter, sans-serif;
  color: #ffffff;
}

/* FIM HEADER */

/* INICIO */
#inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 0rem 22rem 0rem;
  background: var(--dark-50);
  position: relative;
}

.inicio__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.inicio__text__title {
  font: 600 3rem var(--title-font);
  color: #ffffff;
}

.inicio__text__subtitle {
  font: 400 1rem var(--subtitle-font);
  color: #ffffff;
  width: 35rem;
  text-align: center;
  padding: 0rem 0rem 2rem 0rem;
}

.inicio__text__button {
  color: #ffffff;
  padding: 0.9rem 3.5rem;
  background-color: #66c190;
  border-radius: 4px;
  font: 600 1.2rem var(--title-font);
}

.inicio__redes {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--dark-40);
  border: 1px solid var(--dark-10);
  height: 12rem;
}

.inicio__redes i {
  font-size: 2rem;
  padding: 0rem 0.5rem;
  color: #ffffff;
}

/* FIM INICIO */
/* SOBRE */
#sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-40);
  padding: 0rem 0rem 10rem 0rem;
}

.sobre__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem 10rem 0rem;
}

.sobre__text__title {
  font: 600 3rem var(--title-font);
  padding: 3rem 0rem 0rem 0rem;
  color: #ffffff;
}

.sobre__text__subtitle {
  font: 400 1rem var(--subtitle-font);
  text-align: center;
  color: #ffffff;
}

.sobre__content {
  display: flex;
  gap: 5rem;
}

.sobre__content__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.sobre__content__text__title {
  font: 600 2rem var(--title-font);
  color: #ffffff;
}

.sobre__content__text__subtitle {
  font: 400 0.9rem var(--subtitle-font);
  width: 35rem;
  color: #ffffffd6;
}

#subtitle3 {
  padding: 0rem 0rem 2.5rem 0rem;
}

.sobre__content__text__button {
  color: #ffffff;
  padding: 0.9rem 3.5rem;
  background-color: #66c190;
  border-radius: 4px;
  font: 600 1.2rem var(--title-font);
}

.sobre__content__skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sobre__content__skills__title {
  color: #ffffff;
  font: 600 2rem var(--title-font);
}
.sobre__content__skills__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 35rem;
}

.sobre__content__skills__cards__card {
  color: #ffff;
  font: 400 1rem var(--title-font);
  background: var(--dark-10);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* FIM SOBRE */

/* PROJETOS */

#projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0rem 5rem 0rem;
  background: var(--dark-50);
}

.projetos__title {
  font: 600 2rem var(--title-font);
  color: #ffffff;
}

.projetos__cards {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}

.projetos__cards__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid var(--dark-30);
  gap: 1.2rem;
  background-color: var(--dark-50);
  padding: 3rem 3rem;
}

.projetos__cards__card__title {
  font: 600 1.6rem var(--title-font);
  color: #ffff;
}

.projetos__cards__card__subtitle {
  font: 400 1rem var(--subtitle-font);
  width: 15rem;
  color: #ffffffd6;
}

.projetos__cards__card__button {
  color: #66c190;
  font: 400 1.1rem var(--title-font);
}
/* FIM PROJETOS */

/* FORMULÁRIO */
#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--dark-40);
  padding: 4rem 0rem;
}

.contato__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contato__text__title {
  font: 600 1.6rem var(--title-font);
  color: #ffffff;
}

.contato__text__subtitle {
  font: 400 1.1rem var(--title-font);
  color: #ffffff;
}

.formulario {
  background: var(--dark-30);
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  align-items: start;
}

.formulario__name,
.formulario__email,
.formulario__textarea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0rem 0rem 2rem 0rem;
}

label {
  font: 600 0.9rem var(--title-font);
  color: #ffffffcd;
}

.input {
  border: none;
  background: var(--dark-40);
  width: 100%;
  font: 400 1rem var(--subtitle-font);
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  border: 1px solid var(--dark-10);
}

.input::placeholder,
textarea::placeholder {
  color: #b1b1b1;
}

textarea {
  resize: none;
  background: var(--dark-40);
  color: #ffffff;
  outline: none;
  border: 1px solid var(--dark-20);
  padding: 0.8rem 1rem;
  font: 400 1rem var(--subtitle-font);
}

.formulario__submitbtn {
  color: #ffffff;
  padding: 0.9rem 3.5rem;
  background-color: #66c190;
  border-radius: 4px;
  font: 600 1.2rem var(--title-font);
  border: none;
  width: 100%;
  cursor: pointer;
}
/* FIM FORMULÁRIO */
